<div class="thumbnail">
    <h1 class="text-center">History of Pi</h1>
    <img src="~/Images/Pi-symbol.svg.png" class="img-responsive img-pi"/>
    <div class="text-center">
        <p>The best known approximations to π dating before the Common Era were accurate to two decimal places; this was improved upon in Chinese mathematics in particular by the mid first millennium, to an accuracy of seven decimal places. After this, no further progress was made until the late medieval period.</p>
        <p>Some Egyptologists[39] have claimed that the ancient Egyptians used an approximation of π as from as early as the Old Kingdom. This claim has met with skepticism</p>
        <p>The earliest written approximations of π are found in Egypt and Babylon, both within one percent of the true value. In Babylon, a clay tablet dated 1900–1600 BC has a geometrical statement that, by implication, 
            treats π as = 3.125. In Egypt, the Rhind Papyrus, dated around 1650 BC but copied from a document dated to 1850 BC, has a formula for the area of a circle that treats π as (16/9)2 ≈ 3.1605</p>
    </div>    
</div>
