@model HomeViewModel


@await Html.PartialAsync("Carousel")

<h2>Here’s our weekly selection of pies!</h2>


<div class="row">

    @foreach (var pie in Model.PiesOfTheWeek)
    {
        @Html.Partial("PieOfTheWeekSummary", pie)
    }

</div>